body
{
}


.scrollToTop {
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 20;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.30);
}
.arrowUp {
    color: purple;
    height: 25px;
    width: 25px;
}
.productCardQuickView {
    background-color: lightcoral;
    width: 100%;
    border: 0px;
    border-radius: 0px;
    
    display: none;
}
.productsCard {
    width: 200px;
    margin: 10px;
    padding: 0px;
    border-radius: 1px;
    border: 0px;
    background-color: white;
    position: relative;
}

    .productsCard:hover .productCardQuickView {
        display: block;
        outline: 1px solid lightcoral;
        position: absolute;
        left: 0%;
        bottom:0%;
        z-index: 2;
        height:40px;
        border-radius: 0px 0px 5px 5px;
    } .productsCard:hover  {
        display: block;
        border: 2px solid lightcoral;

    }
quickViewContents {
    content: "";
    display: table;
    clear: both;
}
quickViewPicture {
    float: left;
    width: 60%;
    height: auto;
}
quickViewText {
    float: left;
    width: 40%;
    /*background-color: #f1f1f1;*/
    height: auto;
    padding-left:2%;
}
.quickViewFrame {
    width: 100%;
    height:auto;
    margin-right: 2%;
    margin-left: auto;
    overflow: auto;
}


/*shopping card section=============================================================================================*/
.shoppingCartButton {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 20;
    border: none;
    border-radius: 18px;
    width: 70px;
    height: 70px;
    /*width: 500px;
    height: 500px;*/
    background-color: lightcoral;
    /*box-shadow: 0 0 20px lightcoral;*/
    box-shadow: 0 6px 10px 0 lightcoral;
    transition: 0.2s;
/*    animation: shoppingCartButton 1s ease infinite;
*/}
    @keyframes shoppingCartButton {
        15% {transform: scale(1.2);}
        40%,60% {transform: rotate(-20deg) scale(1.2);}
        50% {transform: rotate(20deg) scale(1.2);}
        75% {transform: rotate(0deg) scale(1.2);}
        100% {transform: scale(1);}
    }
    @keyframes shoppingCartButtonStop {
        
    }
    .shoppingCartButton:hover {
        transform: scale(0.9);
        /*box-shadow: 0 2px 15px 0 lightcoral;*/
        box-shadow: 0 0 0 0 lightcoral;

    }
        /*.shoppingCartButton:hover #cartIcon {
            transform: scale(1.5);*/
            /*box-shadow: 0 2px 15px 0 lightcoral;*/
            /*box-shadow: 0 0 0 0 lightcoral;
        }*/


    /*.shoppingCartButtonNoti:hover {
        transform: scale(0.99);*/
        /*box-shadow: 0 2px 15px 0 lightcoral;*/

        /*box-shadow: 0 0 0 0 lightcoral;
    }*/


.shoppingCart {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -50%;
    /*right:-20%;*/
    /* background-color: #f5f5f5;*/
    /*background-color: #FEF2F2;*/
    background-color: #FCE6E6;
    overflow-x: hidden;
    transition: 0.5s;
    outline: 2px solid #F5A6A6;
    border-bottom-left-radius:16px;
    border-top-left-radius:16px;
    /*padding-top: 60px;*/
}
.cartTopSection {
    height: 7%;
    width: auto;
    z-index: 100;
    top:0;
    transition: 0.5s;
    /*background-color: aquamarine;*/
}
.cartCloseButton {
    margin-right: 80%;
    margin-top: 5%;
}


.cartMiddleSection {
    width: auto;
    height: 86%;
    overflow: auto;
    
}
.cartBottomSection {
    /*background-color: red;*/
    width: auto;
    bottom:0%;
    height: 7%;
}
/*Datatable========================================================================================================================*/
.singleCardInCart {
    background: #fff;
    border: 1px solid #d7e2e9;
    border-radius: 6px;
    /*padding: 24px 32px;*/
    /*margin-bottom: 16px;*/
    float: left;
    width: 96%;
    transition: all 0.3s ease 0s;
    flex-direction: column;
    height: 100px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    content: "";
    display: table;
    clear: both;
}
.singleCardInCart-picture {
    background-color: red;
    float: left;
    width: 20%;
    height: 100%;
}
.singleCardInCartLeftSection {
    background-color: white;
    float: left;
    width: 100px;
    height: 100px;
    margin-left:0;
}
.singleCardInCartRightSection {
    background-color: white;
    float: right;
    /*width: 230px;*/
    width: calc(100% - 100px);
    height: 100px;
    position:relative;
}
.cartBottomSectionLeft {
    background-color: red;
    /*background-color: #FCE6E6;*/
    float: left;
    /*width: 230px;*/
    width: 250px;
    height: 100%;
    text-align:center;
    line-height:100%
    
}
.cartBottomSectionRight {
    background-color: #F39999;
    float: left;
    /*width: 230px;*/
    width: calc(100% - 250px);
    height: 100%;
}
.checkOutButton {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: #784040;
    color: white;
    font-weight: 700;
}
.totalPrice {
    height: 100%;
    width: 100%;
    border: 0;
    color: white;
    font-weight: 700;
    font-size:30px;
}